:root {
  /* Font Family */
  --font-family-base: 'Overpass', sans-serif;
  --font-family-accent: ;

  /* Primary Colors */
  --primary-color1: hsl(0, 0%, 100%);
  --primary-color2: ;
  --primary-color3: ;
  --primary-color4: ;
  --primary-color5: ;

  /* Neutral Colors */
  --neutral-color1: ;
  --neutral-color2: ;
  --neutral-color3: ;
  --neutral-color4: ;
  --neutral-color5: ;

    /* Accent Colors */
    --accent-color1: hsl(176, 68%, 64%);
    --accent-color2: hsl(198, 60%, 50%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: var(--primary-color1);
  background-color: hsl(0, 0%, 8%);
  font-family: var(--font-family-base);
}

a {
  text-decoration: none;
  color: var(--primary-color1);
}

.gradientLink {
  background-image: linear-gradient(to right, var(--accent-color1), var(--accent-color2));
  padding: 0.5rem 5rem;
  border-radius: 20px;
  text-align: center;
  width: 16rem;
  margin: 0 auto;
}

.gradientLink:hover {
  background-color: var(--accent-color1);
  background-image: none;
}

@media screen and (min-width: 320px) {

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
  }

  hr {
    width: 100%;
  }

  .section1 {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section1__content {
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .name,
  .section2__title,
  .section3__title,
  .section4__title {
    text-decoration: underline;
    text-decoration-color: var(--accent-color2);
    text-decoration-thickness: 5px;
  }

  .section2 {
    height: 50rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .skillsContainer {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .skill img {
    margin: auto auto 0.5rem auto;
  }

  .section2__title,
  .section3__title {
    font-size: 2rem;
    text-align: center;
  }

  .projectsContainer {
    display: grid;
    justify-content: space-evenly;
    height: 90rem;
  }

  .section3 {
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section3 > p {
    text-align: center;
  }

  .section3 a {
    height: 16rem;
    width: 16rem;
  }

 .project img {
  border-radius: 0.5rem;
  overflow: hidden;
 }

  .project__title {
    margin: 0.5rem 0;
  }

  .section4 {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section4__title {
    text-align: center;
  }

  .section4__content {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
  }

  .whatsapp {
    color: hsl(142, 70%, 49%);
  }

  .whatsappContainer,
  .skypeContainer,
  .gmailContainer {
    display: flex;
    align-items: center;
  }

  .whatsappContainer img,
  .skypeContainer img,
  .gmailContainer img {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 375px) {

}

@media screen and (min-width: 425px) {

}

@media screen and (min-width: 768px) {
  .section3 {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  

  h1 {
    font-size: 4rem;
  }

  .section2 {
    height: 20rem;
  }

  .skillsContainer {
    height: 5rem;
  }

  .skillsContainer {
    flex-direction: row;
  }

  .section3 {
    height: 60rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section3__title {
    margin: auto;
  }

  .projectsContainer {
    width: 80%;
    margin: auto;
    height: 45rem;
    grid-template-columns: 20rem 20rem;
    align-items: center;
    justify-content: center;
  }

  .projectsContainer a {
    margin: auto;
  }

}

@media screen and (min-width: 1440px) {

}
